body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav li {
        margin: 0;
        padding: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

        nav a:hover {
            color: #ffcc00;
        }
    /* Styles for the dropdown menu */
    nav .dropdown {
        position: relative;
    }

    nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: #555;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
    }

        nav .dropdown-content a {
            color: white;
            padding: 12px 16px;
            display: block;
            text-decoration: none;
        }

    nav .dropdown:hover .dropdown-content {
        color: #ffcc00;
        display: block;
    }

    nav .dropdown-content a:hover {
        background-color: #ffcc00;
        color: black;
    }